<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>ToDoList con VUE</title>

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

        <!-- CSS link -->
        <link rel="stylesheet" href="assets/style.css">

        <!-- VUE CDN -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    </head>

    <body>
        <div id="root">

            <div class="todo-wrapper">

                <!-- TOP: title -->
                <h1>{{ toDoTitle }}</h1>

                <!-- CENTER: to do list -->
                <ul class="todo-list">
                    <li v-for="(toDo, toDoIndex) in toDoList">
                        <i class="far fa-square" :ref="'icon' + toDoIndex" @click="removeToDo(toDoIndex)"></i>
                        {{ toDo }}
                    </li>
                </ul>

                <!-- BTM: add a to do item -->
                <div class="add-to-do">
                    <input type="text" v-model="toDoNewItem" placeholder="Inserisci una nuova cosa da fare" @keydown.enter="addNewToDo">
                    <button type="button" @click="addNewToDo">Aggiungi alla lista</button>
                </div>

            </div><!-- END DIV: todo wrapper -->
        </div><!-- END OF #ROOT -->

        <!-- javascript -->
        <script type="text/javascript" src="assets/main.js"></script>
    </body>
</html>
